/* Horizontal padding: 2rem */

/* Global */

* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
}

body {
  background-color: #fff6ec;
  padding-bottom: 2rem;
}

/* Utility */

button {
  padding: 1.5rem;
  outline: none;
  border: none;
  background-color: #ff6739;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #ff3a1b;
}

section {
  padding: 0 2rem;
}

.section-heading {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
}

/* Navbar */

.nav {
  position: relative;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-item {
}

.nav-link {
}

.logo {
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Hero */

.hero {
  height: 30rem;
  background-image: linear-gradient(to bottom, #1a0b0080, #1a0b0080),
    url("assets/images/responsive-redesign-hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.hero-heading {
  font-size: 3rem;
}

.hero-p {
  font-size: 3rem;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Menu preview */

.menu-items {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.menu-item {
  width: 400px;
  height: 300px;
  color: #ffffff;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;
}

.cupcake-item {
  background-image: linear-gradient(to bottom, #1a0b0080, #1a0b0080),
    url("assets/images/responsive-redesign-cupcakes.jpg");
}

/* Hours & Location */

.hours-location-content {
  display: flex;
  gap: 2rem;
}

.map-location {
  border-radius: 1rem;
}

.hours {
  flex-grow: 1;
  background-color: #ffdec8;
  border-radius: 1rem;
}

/* Testimonials */

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 4rem;
}

.testimonial-card {
  position: relative;
  text-align: center;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffffff;
  padding: 5rem 2rem 4rem 2rem;
  border-radius: 1rem;
}

.testimonial-name {
  font-size: 1.5rem;
}

.testimonial-label {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ff3a1b;
}

.testimonial-quote {
  font-size: 1.25rem;
}

.profile-img {
  position: absolute;
  top: -32.5px;
  left: calc(50% - 32.5px);
  border-radius: 50%;
  border: 2px solid #ff3a1b;
}
