/* Horizontal padding: 4rem */
/* Horizontal padding mobile: 2rem */

/* Global */

* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #fff6ec;
}

/* Utility */

.alex {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.allura {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}

button {
  padding: 1.5rem;
  outline: none;
  border: none;
  background-color: #df3202;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #bf2900;
  scale: 1.02;
}

section {
  padding: 0 4rem;
}

.section-heading {
  text-align: center;
  font-size: 2.25rem;
  padding: 2rem 0;
}

.icon-btn {
  cursor: pointer;
  transition: all 0.2s ease;
}

.icon-btn:hover {
  scale: 1.05;
}

.p-text {
  font-size: 1.25rem;
}

label {
  position: absolute;
  opacity: 0;
}

/* Navbar */

.nav {
  /* background-color: #ffd3c8; */
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff6ec;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}

.bar-menu {
  display: none;
}

.logo {
  cursor: pointer;
  font-size: 1.75rem;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Hero */

.hero {
  height: 34rem;
  background-image: linear-gradient(to bottom, #31150080, #31150080),
    url("assets/images/responsive-redesign-hero.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.hero-heading {
  font-size: 4rem;
  font-weight: 500;
}

.hero-p {
  font-size: 3rem;
}

/* Welcome */

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 4rem;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.welcome-heading {
  font-size: 2.75rem;
}

.welcome-p {
  font-size: 1.5rem;
}

.order-btn-container {
  margin-top: 2rem;
}

.welcome-img {
  border-radius: 1rem;
}

/* Menu preview */

#our-desserts {
  margin-bottom: 4rem;
}

.menu-items {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.menu-item {
  flex: 1;
  height: 300px;
  color: #ffffff;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.menu-item:hover {
  scale: 1.02;
}

.cupcake-item {
  background-image: linear-gradient(to bottom, #481e0080, #481e0080),
    url("assets/images/responsive-redesign-cupcakes.jpg");
}

.cake-item {
  background-image: linear-gradient(to bottom, #481e0080, #481e0080),
    url("assets/images/cake.jpg");
}

.cookie-item {
  background-image: linear-gradient(to bottom, #481e0080, #481e0080),
    url("assets/images/cookies.jpg");
}

/* Hours & Location */

#hours-location {
  margin-bottom: 4rem;
}

.hours-location-content {
  display: flex;
  gap: 2rem;
}

.map-location {
  flex-grow: 1;
  border-radius: 1rem;
}

.hours {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1.5rem;
}

.hour-row {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.day {
  padding: 0.5rem;
  background-color: #ffdec8;
  border-radius: 0.25rem;
  font-size: 1rem;
}

/* Contact */

.contact {
  margin: 2rem 0;
  padding: 2rem 4rem;
  background-color: #ffd3c8;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.get-in-touch {
  padding-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-row {
  display: flex;
  gap: 1rem;
}

.input-wrapper {
  flex: 1;
  display: flex;
}

.input-field {
  flex: 1;
  padding: 1.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.message-area {
  outline: none;
  border: none;
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 0.5rem;
  padding: 1.5rem;
  font-size: 1rem;
}

.submit-btn {
  align-self: center;
  min-width: 150px;
}

/* Testimonials */

#testimonials {
  margin-bottom: 4rem;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 4rem;
}

.testimonial-card {
  flex: 1;
  position: relative;
  text-align: center;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffffff;
  padding: 5rem 2rem 4rem 2rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.testimonial-card:hover {
  background-color: #ffd3c8;
  scale: 1.02;
}

.testimonial-name {
  font-size: 1.5rem;
}

.testimonial-label {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #bf2900;
}

.testimonial-quote {
  font-size: 1.25rem;
}

.profile-img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  border-radius: 50%;
  border: 2px solid #ff3a1b;
}

footer {
  padding: 0 4rem;
  min-height: 8rem;
  background-color: #ffd3c8;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  gap: 1rem;
}

/* Chat button */
.chat-btn {
  padding: 1.25rem;
  color: #ffffff;
  border-radius: 50%;
  border-bottom-right-radius: 4px;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.chat-icon {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Media */

@media (max-width: 900px) {
  /* Hero */

  .hero-heading {
    font-size: 3rem;
  }

  .hero-p {
    font-size: 2.5rem;
  }

  /* Welcome */

  .welcome {
    flex-direction: column;
  }

  .welcome-text {
    align-items: center;
    text-align: center;
  }

  .welcome-heading {
    font-size: 2.75rem;
  }

  .welcome-p {
    font-size: 1.5rem;
  }

  /* Menu items */
  .menu-items {
    flex-direction: column;
  }

  .menu-item {
    flex: auto;
    width: 100%;
    height: 175px;
  }

  /* Testimonials */

  .testimonial-cards {
    flex-direction: column;
    gap: 4rem;
  }

  .testimonial-card {
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  /* Navbar */

  .nav-item-link {
    display: none;
  }

  .bar-menu {
    display: block;
    cursor: pointer;
  }

  /* Hours and Location */

  .hours-location-content {
    flex-direction: column;
    align-items: center;
  }

  .map-location {
    width: 100%;
  }

  .hours {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1.5rem;
  }

  .hour-row {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

@media (max-width: 700px) {
  .hero-heading {
    font-size: 2.5rem;
  }

  .hero-p {
    font-size: 2rem;
  }

  .welcome-heading {
    font-size: 2rem;
  }

  .welcome-p {
    font-size: 1.25rem;
  }

  .welcome-img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  /* Horizontal padding adjustment */
  .nav {
    padding: 0 2rem;
  }

  section {
    padding: 0 2rem;
  }

  .hero {
    /* margin: 0 2rem; */
  }

  .contact {
    padding: 2rem;
  }

  footer {
    padding: 0 2rem;
  }

  /* Contact Form */

  .input-row {
    flex-direction: column;
  }
}
